/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */

.ui-content section {
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
}

.ui-section-contents {
	top: 25px; 
	max-width: 80%; 
	margin: auto; 
	position: relative;
	word-wrap: break-word;
    overflow-wrap: break-word;
}

.ui-stockelem-container {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
 	justify-content: center;
  	align-items: center; 
	position: absolute;
	font-size: smaller;
}

.stockelem-code {
	font-size: 2.5rem;
}

.stockelem-name {
	font-size: 1.5rem;
}

.stockelem-price {
	font-size: 3rem;
}

.stockelem-change {
	
}

.stockelem-low {
	color: red;
	font-size: 1.3rem;
	line-height: 1.2rem;
}

.stockelem-high {
	color: green;
	font-size: 1.3rem;
	line-height: 1.2rem;
}

.stockelem-open {
	font-size: 1.3rem;
	line-height: 1.2rem;
}

.stockelem-close {
	font-size: 1.3rem;
	line-height: 1.2rem;
}

.stockelem-priceclimb {
	color: green;
}

.stockelem-priceclimb:after {
	content: '\25B2';
	margin-left: 5px;
}

.stockelem-pricefall {
	color: red;
}

.stockelem-pricefall:after {
	content: '\25BC';
	margin-left: 5px;
}

.stockelem-pricehold {
	color: parent;
}

.stockelem-pricehold:after {
	content: '\25A0';
	margin-left: 5px;
}

.stockelem-addcodebtn {
	border: 3px solid #009af9;
	border-radius: 100%;
	max-width: 5em;
	max-height: 5em;
	line-height:5em;
    text-align:center;
  	vertical-align:middle;
	display:inline-block;
}


