<div class="ui-page" id="appSetup" data-no-back="true">
	<script>
		function saveSettings() {
			tizen.preference.setValue("appConfigured", "true");
			var key = document.getElementById("form-apikey").value;
			tizen.preference.setValue("appApiKey", key);
			tau.back("index.html");
		}
		
		var page = document.getElementById("appSetup"),
		inputName = page.querySelector("input[name=\"apikey\"]"),
		nameWidget;

		function init() {
			nameWidget = tau.widget.TextInput(inputName);
		}
	
		function destroy() {
			nameWidget.destroy();
		}
		
		page.addEventListener("pagebeforeshow", init);
		page.addEventListener("pagehide", destroy);
			
	</script>

	<header class="ui-header" style="height: 4.75rem;">
		<h2 class="ui-title">API Settings</h2>
	</header>
	<div class="ui-content text-input-content">
		<div style="font-size: smaller; max-width: 95%;">Please enter your AlphaVantage API key.</div>
		<input id="form-apikey" name="apikey" placeholder="API Key" type="text" />
		<div style="font-size: smaller; max-width: 95%;">Tap below to select the maximum update rate.</div>
		<button class="ui-btn" onclick="tau.openPopup('#ratelimit-popup');">Rate Limit</button>
	</div>
	<footer class="ui-footer ui-bottom-button">
		<button class="ui-btn" onclick="saveSettings();">Save</button>
	</footer>
	
	<div id="ratelimit-popup" class="ui-popup">
		<header class="ui-header">
			<h2 class="ui-title">
				Rate Limit
			</h2>
		</header>
		<div class="ui-popup-content" style="margin: auto; margin; 0; margin-bottom: 10%; font-size: smaller; text-align: center;">
			<ul class="ui-listview" id="ratelimit-list" style="margin: 0; width: 100%;">
				<!-- Radio lists in dialogs are completely mangled however I'd rather not waste any more time on this for now -->
				<!-- so I'll fix this later. -->
				<li class="li-has-radio">
					<label>
						5 Reqs/m
						<input checked="checked" name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						30 Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						120 Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						300 Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						600 Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						1200 Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
				<li class="li-has-radio">
					<label>
						Unlimited Reqs/m
						<input name="radio-updaterate" type="radio" />
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>